
body {   
    padding: 10px; 
    overflow: scroll;
}

hr {
    border: 0;   
    height: 0;
    box-shadow: 0 0 10px 1px black;
    margin-bottom: 30px;
}

.bdg-close{
    font-size: 100%;
    color:  #d91615;
}

.bid-end{
    background-color: #F3F3F3;
    
    font-size: 16px;
    color: #000;
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;
    font-weight: 600;
}

.box-centre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box-row{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 15px;
}

.box-row-left{
    @extend .box-row;
    justify-content:left;
}

.box-row-sm{
    @extend .box-row;
    @extend .box-centre;
    margin-bottom: 10px;
    justify-content: left;
}


.box-img{
    @extend .box-centre;
    margin-right: 20px;
    width: 300px;
    height: 300px;
    background:#FFFAFA;
}

img{
    margin-right: 20px;
    width: 350px;
}


.price{   
    font-size: 20px;
    font-weight: bold;
    color: #d91615;
}

.tab{
    justify-content: center;
}

.top-log{
    text-align: right;
    padding: .5rem 1rem;
}

.top-page-title{
    text-align: center;
}


.margin-l-10{
    margin-left: 10px;
}

.nav-link{
    color:#6b5c43;
    font-weight: bold;
    font-size: 17px;

}

.title{
    font-size: 20px;
    font-weight: bold;
}

#cmt-block{
    display: none;
}