{% extends "auctions/layout.html" %}

{% block body %}
<div class="box-column">
    <br>
    <h2>Create Listing</h2>
    <br>

    {%if message%}
        <h4>{{message}}</h4>
    {% endif %}

    <form action="{% url 'create' %}" method="POST">
        {%csrf_token%}
        <label for="Listing-Title">Listing Title</label>
        <input type="text" name="Name"  id="Listing-Title">
        <br><br>
        <label>Listing Description</label>
        <textarea name="Description" ></textarea> 
        <br><br>
        <label>Listing Image</label>
        <input type="URL" name="URL" >
        <br><br>
        <label>Starting Bid</label>
        <input tyep="text" name="Price">
        <br><br>
        <!-- <label>Bid</label>
        <input type="text" name="Bid">
        <br> -->
        <label>Listing Category</label>
        <select type="text" name="Category">
            {% for Category in Categories %}
                <option>{{Category}}</option>
            {% endfor %}
        </select>
        <br><br>
        <div class="box-centre">
            <button type="submit" value="Save" class="btn btn-outline-success">Save</button>
        </div>
    </form>

</div>
{% endblock %}