{% extends "auctions/layout.html" %}

{% block body %}
    <div class="box-centre"><h2>Active Listings</h2></div>



    {% for list in page_obj %}
    <div class="box-row-left">
        <div class="box-img"><img src="{{list.item_URL}}"></div>
        <div class="info">
            <a href="{% url 'listing_Page' list.item_id %}"><h5>{{list}}</h5></a>       
            <p><b>Description:&nbsp&nbsp </b>{{list.item_Description}}</p>
            <!-- <br> -->
<!--             
            {% if list.bidNo == 0 %}
            <p>The current Price is: {{list.item_StarBid}}</p> 
            {% else %}
            <p>The current Price is: {{list.currentPrice}}</p> 
            {% endif %} -->

            <!-- <div class="box-row-sm"> -->
                <span>The current Price is:</span>
                {% if list.bidNo == 0 %}
                <span class="price margin-l-10">{{list.item_StarBid}}</span>
                {% else %}
                <span class="price margin-l-10">{{list.currentPrice}}</span>
                {% endif %}    
            <!-- </div> -->

            <p>There are {{list.bidNo}} bid(s)</p>
        </div>
    </div>
    <hr>
    {% endfor %}

<div class="pagination box-centre">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

</div>
    
{% endblock %}